img {
  margin: 4px;
}

img.banner {
  width: 100%;
}

.column {
  width: 300px;
  margin: 6px;
  padding: 4px;
  float: left;
  text-align: center;
}

.column img {
  width: 75%;
  border-width: 2px;
  border-style:solid;
  border-color: magenta;
}

.column h2 {
  color: yellow;
  font-family: sans-serif;
}

.column p {
  font-style: italic;
}

body {
  margin: 12px;
  padding: 8px;
  background-color: skyblue;
}
